.dates {
    
    margin-right: 25px;
    margin-left: 25px;
    width:300px; 
    
}

.dates_rate_plans {
    
  margin-right: 160px;
  margin-left: 160px;
  width:300px; 
  
}


.hidden_dates {
  margin-left: 250px;
}


.bg-img {
    /* The image used */
    background-image: url("/static/images/banner-5.png");

    min-height: 380px;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
    /* Needed to position the navbar */
    position: relative;
  }

  #children {
    display: block;
  }

  .one_child, .two_children{
    display: none;

  }

  .bi-plus-square-fill {
    color: red;

  }

  .active {
    background-color: lightskyblue;
    -webkit-text-fill-color: black;
    border-radius: 7px;

  }


  .navbar-toggler {
    background-color:  	RGB(255, 193, 7);
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 25px;
    font-size: 1rem;
    font-weight: bold;
    transition: scale 0.3 ease-in-out;
    
}

.nav-link {
  -webkit-text-fill-color: lightgoldenrodyellow;
}

.period_two, .period_three, .period_four{
  display: none;
}


#all_rate_plans {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#all_rate_plans td, #all_rate_plans th {
  border: 1px solid #ddd;
  padding: 15px;
}

#availability_table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 50%;
}

#availability_table td, #availability_table th {
  border: 1px solid #ddd;
  padding: 15px;
}


#availability_table th {
  width: 30px;
  height: 60px;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: lightblue;
  color: black;
}


#all_rate_plans th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: lightblue;
  color: black;
}

#all_rate_plans, #availability_table tr:nth-child(even){background-color: #f2f2f2;}

#all_rate_plans, #availability_table tr:hover {background-color: #ddd;}


.hide_row, .hide_row1, .hide_row2, .hide_row3, .hide_row4, .hide_row5{
  display: none;
}

table, th, td {
  border: 1px solid black;
}

.testing{
  width: 180px;
  border: 10px;
  border-color: red;
  margin-left: 20px;
}

html {
  position: relative;
  min-height: 100%;
}
.footerWrap {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
}

.cards {
  margin-top: 200px;
}

.navbar {
  border-bottom: 2.5px solid  RGB(255, 193, 7);
 
 
}

.search-form {
  margin-top: 50px;
  border-radius: 25px;
  margin: 20px;

}


.search-input {
  border-radius: 20px;
}

.calendar-input {
  border-radius: 5px;
}

.progress-bar-box {
  border-radius: 25px;
  margin-bottom: 50px;
}

.admin-panel-box {
  border-radius: 20px;

}




