.dates {
    
    margin-right: 25px;
    margin-left: 25px;
    width:300px; 
    
}

.dates_rate_plans {
    
  margin-right: 160px;
  margin-left: 160px;
  width:300px; 
  
}


.hidden_dates {
  margin-left: 250px;
}


.bg-img {
    /* The image used */
    background-image: url("/static/images/banner-5.png");
  
    min-height: 380px;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
    /* Needed to position the navbar */
    position: relative;
  }

  #children {
    display: block;
  }

  .one_child, .two_children{
    display: none;

  }

  .bi-plus-square-fill {
    color: red;

  }

  .active {
    background-color: lightskyblue;
    -webkit-text-fill-color: black;
    border-radius: 7px;

  }


  .navbar-toggler {
    background-color: gold;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 25px;
    font-size: 1rem;
    font-weight: bold;
    transition: scale 0.3 ease-in-out;
    
}

.nav-link {
  -webkit-text-fill-color: lightgoldenrodyellow;
}

.period_two, .period_three, .period_four{
  display: none;
}