{% extends "layout.html" %}
{% set active_page = "availability" %}

{% block title %}
    Availability
{% endblock %}

{% block main %}


<!-- Add rooms for sale / booking -->

<h3 class="mb-2">Add available rooms for the selected dates</h3>
<div class="container bg-light border border-1 border-info shadow-lg">
    <form class="form p-5 d-flex justify-content-center" action="/add_room" method="post" id="availability_dates">

        <div>
          <select class="form-select d-flex" style="width: 500px; height: 30px;" name="selected_room" id="selected_room">
            <option selected disabled>Select Room</option>
            {% for room in all_rooms %}
              <option value="{{ room.id }}">{{ room.name }}</option>
            {% endfor %}
          </select>
          <select class="form-select d-flex mt-2" style="width: 500px; height: 30px;" name="rate_name" id="rate_name">
            <option selected disabled>Select Rate plan</option>
            {% for rate_type in rate_types %}
            <option value="{{ rate_type.id }}">{{ rate_type.rate_name }}</option>
            {% endfor %}
          </select>
          <p class="mt-2">Room quantity</p>
          <input class="number" type="number" min="1" max="10" id="selected_quantity" name="selected_quantity">
        </div>
        
        
        <div class="row d-flex justify-content-end">
            <div class="dates_rate_plans d-flex shadow mb-4">
                <input type="text" class="form-control was-validated"  id="start_date" name="start_date" placeholder="Start Date" autocomplete="off" >
                <span class="input-group-addon p-1 bg-light bg-opacity-75 opacity-75" data-target="#datepicker1" data-toggle="datetimepicker">
                    <span class="bi bi-calendar"></span>
                </span>
            </div>

            <div class="dates_rate_plans d-flex shadow mb-4">
                <input type="text" class="form-control was-validated"  id="end_date" name="end_date" placeholder="End Date" autocomplete="off" >
                <span class="input-group-addon p-1 bg-light bg-opacity-75 opacity-75" data-target="#datepicker1" data-toggle="datetimepicker">
                    <span class="bi bi-calendar"></span>
                </span>
            </div>  
        </div>
        <div>
          <input class="btn btn-primary bg-gradient mb-2 text-light mt-3 rounded shadow shadow-lg mt-5" type = "submit" name = "Test1" id="show_dates" value = "ADD ROOM">
      </div>          
    </form>
</div>

<!--Select Dates to check availability for all room types -->

<h3 class="mb-2 mt-5">Check availability for the selected dates</h3>
<div class="container bg-light border border-1 border-info shadow-lg">
    <form class="form p-1" action="/availability" method="post" id="availability_dates">

        <h5>Dates</h5>
        
        <div class="row d-flex justify-content-start">
            <div class="dates_rate_plans d-flex shadow mb-4">
                <input type="text" class="form-control was-validated"  id="from_date" name="from_date" placeholder="Start Date" autocomplete="off" >
                <span class="input-group-addon p-1 bg-light bg-opacity-75 opacity-75" data-target="#datepicker1" data-toggle="datetimepicker">
                    <span class="bi bi-calendar"></span>
                </span>
            </div>

            <div class="dates_rate_plans d-flex shadow mb-4">
                <input type="text" class="form-control was-validated"  id="to_date" name="to_date" placeholder="End Date" autocomplete="off" >
                <span class="input-group-addon p-1 bg-light bg-opacity-75 opacity-75" data-target="#datepicker1" data-toggle="datetimepicker">
                    <span class="bi bi-calendar"></span>
                </span>
            </div>

            <div>
                <input class="btn btn-primary bg-gradient mb-3 text-light mt-3 rounded shadow shadow-lg" type = "submit" name = "Test1" id="show_dates" value = "SHOW">
            </div> 
        </div>            
    </form>
</div>

<h3 class="mt-5 mb-4">Availability Calendar</h3>



<!-- Loop each room in rooms -->
{% for room in rooms %}
<div class="container d-flex justify-content-center">
<div class="container-fluid mt-5  d-flex justify-content-center">
<table class="border border-3 border-info bg-light bg-gradient shadow" border="1" width="50%" id="availability_table">
    <thead>
      <tr>
        <th style="width:300px">Room</th>
        <!-- Loop tru each date in dates loop tru listed_rooms and available_rooms and compare / check if is bookable -->
        <th>Status</th>
        {% for date in dates %}
          <th>{{ date.strftime('%B')[0:3] }}
            {{ date.strftime('%-d')}}    
            {{date.strftime('%a')}}

            {% for listed_room in listed_rooms %}
              {% for available_room in available_rooms %}
                {% if listed_room.room_id == room.id and listed_room.listed_date == date and available_room.listed_room_id == listed_room.id %}
                  {% if available_room.is_it_available == 1 %}
                    <br>
                    <button type="button" style="width: 25px; height: 25px; color: white; background-color: green; border-radius: 20px;">a</button>

                  {% elif available_room.is_it_available == 0 %}
                    <br>
                    <button type="button" style="width: 25px; height: 25px; color: white; background-color: red; border-radius: 20px;">n</button>
                  {% endif %}
                {% endif %}
              {% endfor %}
            {% endfor %}

          </th>
        {% endfor %}
      </tr>
    </thead>
  
    <tbody>
      <tr>
        <td rowspan="7">{{ room.name }}</td>
        <!-- room.name -->
      </tr>
      <tr class="border border-2">
        <td><strong>Total</strong></td>
        <!-- Loop each date in dates -->
            <!--room.total_of_this_type -->
        {% for date in dates %}
          <td>{{ room.total_of_this_type }}</td>
        {% endfor %}
      </tr>
      <tr>
      <tr class="border border-2">
        <td>Added</td>
        <!-- Loop avail from availability -->
              <!--avail.quantity_per_date -->
        {% for listed_room in listed_rooms %}

          {% if listed_room.room_id == room.id %}

            {% if listed_room.quantity_per_date > 0 %}

              <td>{{ listed_room.quantity_per_date }}</td>     

            {% endif %}

          {% endif %}
        
        {% endfor %}
      </tr>
      <tr class="border border-2">
        <td>Available</td>
        <!-- Loop avail from availability -->
              <!--avail.left_to_sell -->
        {% for date in dates %}

          {% for listed_room in listed_rooms %}

              {% if listed_room.room_id == room.id and listed_room.listed_date == date %}

                {% for available_room in available_rooms %}
                  
                  {% if available_room.listed_room_id == listed_room.id %}

                    <td>{{ available_room.left_to_sell }}</td>

                  {% endif %}

                {% endfor %}

              {% endif %}
          {% endfor %}

        {% endfor %}
      </tr>
      <tr>
        <td>Booked</td>
        <!-- Loop avail from availability -->
              <!--avail.booked_quantity -->
        {% for date in dates %}

        {% for listed_room in listed_rooms %}

            {% if listed_room.room_id == room.id and listed_room.listed_date == date %}

              {% for available_room in available_rooms %}
                
                {% if available_room.listed_room_id == listed_room.id %}

                  <td>{{ available_room.booked_quantity }}</td>

                {% endif %}

              {% endfor %}

            {% endif %}
        {% endfor %}

      {% endfor %}
      </tr>
      <tr>
      </tr>
    </tbody>
  </table>
  <form action="/stop_sale" method="POST">
    <div class="testing bg-light bg-gradient opacity-75 container-fluid d-block border border-1 border-danger shadow">
      <h5 class="mt-4">STOP / ADD SALE</h5>
      <input type="text" class="form-control"  id="start_date" name="start_stop_date" placeholder="Start date" autocomplete="off" >
      <input type="text" class="form-control mt-2"  id="end_date" name="end_stop_date" placeholder="End Date" autocomplete="off" >
      <button class="btn btn-danger bg-gradient  text-light  rounded shadow shadow-lg mt-5 mb-3" type = "submit" name = "stop_sale" id="show_dates" value = "STOP">STOP SALE</button>
      <input type="text" value="{{ room.id }}" style="display: none;" id="stop_sale_room_id" name="stop_sale_room_id">
      <button class="btn btn-success bg-gradient text-light  rounded shadow shadow-lg mt-3 mb-5" type = "submit" name = "add_sale" id="show_dates" value = "ADD">ADD SALE</button>
    </div>
    
  </form>
</div>
</div>
{% endfor %}

{% endblock %}