{% extends "layout.html" %}
{% set active_page = "reservation" %}

{% block title %}
    Search
{% endblock %}

{% block search %}
<div class="search-container container p-1">

    <div class="container progress-bar-box p-1 bg-light bg-gradient bg-opacity-50 border w-75 border-3 border-info">

        <div class="position-relative m-5 ">
            <div class="progress" style="height: 3px;">
              <div class="progress-bar bg-info" role="progressbar" aria-label="Progress" style="width: 20%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <button type="button" class="fa fa-calendar-alt position-absolute top-0 start-0 translate-middle btn btn-sm btn-dark bg-warning text-dark rounded-pill" style="width: 2rem; height:2rem;"></button>
            <button type="button" class="bi-search position-absolute top-0 start-50 translate-middle btn btn-sm btn-secondary bg-dark rounded-pill" style="width: 2rem; height:2rem;">2</button>
            <button type="button" class="bi-check position-absolute top-0 start-100 translate-middle btn btn-sm btn-secondary bg-dark rounded-pill" style="width: 2rem; height:2rem;">3</button>
          </div>
    
    </div>

    <form class="search-form p-1  bg-light shadow bg-gradient bg-shadow  bg-opacity-50 border border-3 border-info" id="form" action="" method="post">
        <div class="container p-3">
            <div class="row d-flex">
                <div class="col-md d-flex justify-content-center">

                    <div class="dates d-flex shadow" id="datepicker1">
                        <span class="input-group-addon p-1 bg-light  bg-transparent" data-target="#datepicker1" data-toggle="datetimepicker">
                            <i class="bi bi-calendar text-dark icon bg-transparent "></i>
                        </span>
                        <input type="text" class="calendar-input form-control was-validated" required id="checkin" name="checkin" placeholder="Check In" autocomplete="off"/>
                        
                    </div>

                    <div class="dates d-flex shadow">
                        <input type="text" class="calendar-input form-control was-validated" required id="checkout" name="checkout" placeholder="Check Out" autocomplete="off" >
                        <span class="calendar-input input-group-addon p-1 bg-light bg-transparent" data-target="#datepicker1" data-toggle="datetimepicker">
                            <span class="bi bi-calendar text-dark icon bg-transparent  "></span>
                        </span>
                    </div>
                </div>

                <div class="search-input form d-block">
                    <label for="exampleFormControlSelect1">Total rooms</label>
                    <select class="search-input form-select text-dark border border-1 shadow" required id="rooms" name="rooms">
                    <option selected disabled>Rooms</option>
                    <option value="1">1 Room</option>
                    <option value="2">2 Rooms</option>
                    <option value="3">3 Rooms</option>
                    </select>
                </div>

                <div class="form d-block">
                    <label for="exampleFormControlSelect1">Number of adults</label>
                    <select class="search-input form-select border border-1 shadow" id="adults" name="adults">
                    <option selected disabled>Adults</option>
                    <option value="1">1 Person</option>
                    <option value="2">2 People</option>
                    <option value="3">3 People</option>
                    <option value="4">4 People</option>
                    <option value="5">5 People</option>
                    <option value="6">6 People</option>
                    </select>
                </div>
                
                <div class="form d-block" id="children" >
                    <label for="exampleFormControlSelect1">Add Children</label>
                    <select class="search-input form-select border border-1 shadow" id="children" name="children">
                        <option selected value="none">Children</option>
                        <option value="one">One Child</option>
                        <option value="two">Two Children</option>
                    </select>

            
                    <div class="form was-validated one_child" id="first_child">
                        <label for="exampleFormControlSelect1" >Child</label>
                        <select class="search-input form-select required1" id="first_child" name="first_child">
                        <option value="" >Child Age</option>
                        <option value="0-2">0 - 2 years old</option>
                        <option value="2-6">2 - 6 years old</option>
                        <option value="7-12">7 - 11 years old</option>
                        </select>
                        <div class="invalid-feedback">Age needed!</div>
                    </div>
                

                <div class="form was-validated two_children" id="second_child">
                    <label for="exampleFormControlSelect1" >Child</label>
                    <select class="search-input form-select shadow required2" id="second_child" name="second_child">
                    <option value="">Child Age</option>
                    <option value="2">0 - 2 years old</option>
                    <option value="6">2 - 6 years old</option>
                    <option value="12">7 - 11 years old</option>
                    </select>
                    <div class="invalid-feedback">Age needed!</div>
                </div>
                                
                <button class="btn btn-warning bg-gradient mb-3 text-dark border-warning rounded-3 mt-3 shadow" type="submit">SEARCH</button>
            </div>    
        </div>
    </form>
</div>







{% endblock %}