{% extends "layout.html" %}

{% block title %}
    Select rooms
{% endblock %}

{% block main %}

    <div class="container progress-bar-box p-1 bg-light bg-gradient bg-opacity-50 border w-75 border-3 border-info">

        <div class="position-relative m-5">
            <div class="progress" style="height: 3px;">
            <div class="progress-bar bg-info" role="progressbar" aria-label="Progress" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <button type="button" class="fa fa-calendar-alt position-absolute top-0 start-0 translate-middle btn btn-sm btn-dark bg-warning text-dark rounded-pill" style="width: 2rem; height:2rem;"></button>
            <button type="button" class="bi-search position-absolute top-0 start-50 translate-middle btn btn-sm btn-dark bg-warning text-dark rounded-pill" style="width: 2rem; height:2rem;"></button>
            <button type="button" class="bi-check position-absolute top-0 start-100 translate-middle btn btn-sm btn-secondary bg-dark rounded-pill" style="width: 2rem; height:2rem;"></button>
        </div>

    </div>

<form class="p-1" action="/booking_request" method="post" id="form" enctype="multipart/form-data">
    <div class="row g-5 gy-5  text-start mb-5 pb-5 mx-2">
        {% for room in bookable_rooms %}
            {% if room != None %}
            <div class="col-md-4">
                <div class="card h-100 bg-info bg-gradient bg-opacity-10 border border-3 border-info">
                    {% if room.room_image %} 
                <div class="image-holder">
                    <img class="card-img-top"  alt="Card image" src="{{ url_for('static', filename='uploads/' + room.room_image ) }}"/>
                    <input type="hidden" name="room_image" value="{{room.room_image}}"/>
                </div>
                    {% elif not room.room_image %}
                <div class="image-holder">
                    <img class="card-img-top"  alt="Card image" src="{{ url_for('static', filename='uploads/' + 'stock_room_image.jpeg' ) }}"/>
                </div>
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title text-center" value="{{ room.room_type }}"> {{ room.room_type }} </h5>
                        <i class="bi bi-people-fill"> Up to {{ room.max_guests }} guests </i>
                        <br>
                        <i class="bi bi-wifi"> Free Wi-Fi</i>
                        <h5 class="card-title text-center"> Room description </h5>
                        <p class="card-text mt-2" >{{ room.room_info }}</p>
                        <br>
                        <h5 class="text-center">Summary</h5>
                        <i class="bi bi-sun"> Total rooms selected {{ room.room_quantity}}</i>
                        <input type="hidden" name="total_rooms" value="{{room.room_quantity}}"/>
                        <br>
                        <i class="bi bi-people-fill">Guests: {{ room.total_guests }}</i>
                        <input type="hidden" name="total_guests" value="{{ room.total_guests }}"/>
                        <br>
                        <i class="bi bi-people-fill" > Adults: {{ room.total_adults }}</i>
                        <input type="hidden" name="total_adults" value="{{ room.total_adults }}"/>
                        <br>
                        <i class="bi bi-people-fill"  > Children: {{ room.total_children }}</i>
                        <input type="hidden" name="total_children" value="{{ room.total_children }}"/>
                        <br>
                        <i class="bi bi-people-fill"> Children's age between: {{ room.children_age }}</i>
                        <input type="hidden" name="children_age" value="{{ room.children_age }}"/>
                        <br>
                        <i class="bi bi-calendar"> Check-in: {{ room.from_date.strftime('%d %B') }}</i>
                        <input type="hidden" name="from_date" value="{{ room.from_date.strftime('%d-%m-%Y') }}">
                        <br>
                        <i class="bi bi-calendar"> Check-out: {{ room.to_date.strftime('%d %B') }}</i>
                        <input type="hidden" name="to_date" value="{{ room.to_date.strftime('%d-%m-%Y') }}">
                        <br>
                        <i class="bi bi-calendar-day-fill"> Total days: {{ room.total_days }}</i>
                        <input type="hidden"  name="total_days" value="{{ room.total_days}}">
                        <br>
                        <i class="bi bi-cash"> Room price DAY - $<strong>{{ room.price_per_day }}</strong></i>
                        <input type="hidden"  name="room_price_per_day" value="{{ room.price_per_day }}">
                        <br>
                        <i class="bi bi-cash" > All Rooms price DAY - $<strong>{{ room.price_room_stay }}</strong></i>
                        <input type="hidden" name="all_rooms_price_per_day" value="{{ room.price_room_stay }}">
                        <br>
                        <i class="bi bi-cash-stack"  > TOTAL - $<strong>{{ room.total_price }}</strong></i>
                        <input type="hidden" name="total_price" value="{{ room.total_price }}">
                        <div class="text-center">
                            <button type="submit" id="reservation_data" name="room_type" value="{{ room.room_type }}" class="btn btn-outline-primary btn-light">SELECT</button>
                        </div>
                    </div>
                    <div class="card-footer bg-dark bg-opacity-50">
                    <small class="text-warning">Last booked {{ booked_ago|random()}} ago</small>
                    </div>
                </div>
            </div>
            {% endif %}
        {% endfor %}
        
    </div>
</form>

<!--
<div class="container">
    <table>
        <thead>
            <tr>
                <th>Rooms</th>
                <th>Quantity</th>
                <th>Checkin</th>
                <th>Checkout</th>
                <th>Total days</th>
                <th>Guests</th>
                <th>Adults</th>
                <th>Children</th>
                <th>Children age</th>
                <th>Room price per DAY</th>
                <th>All Rooms per DAY</th>
                <th>TOTAL</th>
            </tr>
        </thead>

        <tbody>
            
                {% for room in bookable_rooms %}
                <tr>
                <td>{{room.room_type}}</td>
                <td>{{room.room_quantity}}</td>
                <td>{{room.from_date.strftime('%Y-%m-%d')}}</td>
                <td>{{room.to_date.strftime('%Y-%m-%d')}}</td>
                <td>{{room.total_days}}</td>
                <td>{{room.total_guests}}</td>
                <td>{{room.total_adults}}</td>
                <td>{{room.total_children}}</td>
                <td>{{room.children_age}}</td>
                <td>{{room.price_per_day}}</td>
                <td>{{room.price_room_stay}}</td>
                <td>{{room.total_price}}</td>
                </tr>
                {% endfor %}

        </tbody>
        


    </table>


</div>
-->

{% endblock %}