{% extends "layout.html" %}
{% set active_page = "rate_plans" %}

{% block title %}
    View Rate plans
{% endblock %}

{% block main %}

<h3 class="mt-2 text-primary">RATE PLANS</h3>  

<div class="container-fluid">
{% for rate_type in rate_plans %}

<h3>{{ rate_type.rate_name }}</h3>
<input class="btn btn-success bg-gradient mb-3 text-light mt-3 rounded shadow shadow-lg" type = "button" name = "Test1" id="show{{ rate_type.id }}" value = "Show/Hide">

<form action="/view_rate_plans" method="post">
    <div class="container-fluid d-flex justify-content-start">   
        <table  class="mt-5 border border-3 border-info hide_row{{ rate_type.id }}"  style="width: 50%;" id="all_rate_plans">
            <tr class="">
                <th>Name</th>
                 <td class="rate_plan_view"><strong class="text-primary">{{ rate_type.rate_name }}</strong></td>
                <td><button type="submit" 
                        class="btn btn-danger"  
                        id="delete" name="delete" 
                        value="{{ rate_type.id }}">Delete Rate plan</button></td>        
                </tr>

                <tr>   
                    {% for header in headings %}
                        <th>{{ header }}</th>
                    {% endfor %}
                </tr>     
                <tr>
                    {% set date_period = namespace(value=1) %}
                    {% for rate_plan in rate_type.rate_plan_type %}  
                        <th>{{ date_period.value }}</th>
                        <td>{{ rate_plan.from_date.strftime('%Y-%m-%d') }}</td>
                        <td>{{ rate_plan.to_date.strftime('%Y-%m-%d') }}</td>
                        <td>{{ rate_plan.adult }}</td>
                        <td>{{ rate_plan.single_adult}}</td>
                        <td>{{ rate_plan.child_under_12_rb}}</td>
                        <td>{{ rate_plan.child_under_18_exb}}</td>
                        <td>{{ rate_plan.child_under_12_exb}}</td>
                        <td>{{ rate_plan.child_under_7_exb}}</td>
                        <td>{{ rate_plan.child_under_2_exb}}</td>
                        {% set date_period.value = date_period.value + 1 %}       
                </tr>
            </tr>      {% endfor %}             
        </table> 
    </div>
</form>
{% endfor %}


</div>
{% endblock %}




